
body {
    font-family: "Archivo Black", "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #CED5D0;
    background-color: #160b2c;
    overflow-x: hidden;
}
.background{
    position: absolute;
    height: 0;
    width: 100vw;
    z-index: 1;
}

.background-img{
    opacity: 0.3;
    height: 100vh;
    width: 100vw;
    filter: blur(2px);
    background-image: url("img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.welcome{
    position: absolute;
    z-index: 2;
    opacity: 1;
    height: 100%;
    width: 100vw;
}